body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 77, 77);
}

img.octocat {
    height: 200px;
}

.imgContainer {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#imgc1 {
    background-color: aliceblue;
}
#imgc2 {
    background-color: azure;
}
#imgc3 {
    background-color: beige;
}
